#heading-container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.089);
    .anchors {
        margin-right: 10px;
        margin-top: 13px;
        margin-bottom: 40px;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        vertical-align: middle;
        
        a {
            color: white;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
            color: white;
        }
    }
    
    .heading {
        margin-left: 30px;
        color: #d93025;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: lighter;
    }
}

#general-container{
    margin: 30px 0px 0px 30px;

    .span-div{
        color: white;
        font: 16px arial, sans-serif;
        margin-bottom: 10px;
    }

    .span-col{
        font: 13px arial, sans-serif;
        color: white;
        margin-top: 15px;
    }
    .span-input{
        font: 13px arial, sans-serif;
        color: white;
        margin-top: 15px;
        margin-left: -20px;

        input{
            width: 300px;
        }
    }

    .submit-btn{
        border: 1px solid #3079ed;;
        margin-top: 10px;
        background-color: #4d90fe;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        color: #fff;
        border-radius: 2px;
        height: 30px;
        padding: 0 12px 0 12px;
    }

    .submit-btn:hover{
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.705);
    }
}
